<div class="container-fluid page-header red-text">
  <h1 class="center">About</h1>
</div>

<div class="container-fluid center">
  <p class="flow-text">todo..</p>
</div>

<!-- <div class="container center">
  <%= link_to 'accounts', accounts_url, class: 'waves-light btn  purple darken-4' %>
</div> -->
