<div class="container-fluid page-header  cyan lighten-5 red-text">
  <h1 class="center">Index#Page</h1>
</div>

<div class="container-fluid center">
  <p class="flow-text">Find me in app/views/static/index.html.erb</p>
</div>

<div class="container center">
  <%= link_to 'Users', users_url, class: 'waves-light btn  deep-purple lighten-1' %>
</div>
