<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper deep-purple accent-2">
      <a href="#!" class="brand-logo">mail@domain</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Index</a></li>
        <li><a href="/static/about">About</a></li>
        <li><a href="/accounts">Accounts</a></li>
      </ul>
    </div>
  </nav>
</div>
